<template>
  <md-navbar>
    <div class="margin-content">

      <ul class="hide-on-med-and-down right">
        <li md-waves><a href="#about">About</a></li>
        <li md-waves><a href="#map">Login</a></li>
      </ul>

    </div>
  </md-navbar>
</template>
