<template>
  <require from="materialize-css/css/materialize.css"></require>
  <require from="./layout/header/app-header"></require>
  <require from="./layout/menu/app-menu"></require>

  <app-header></app-header>

  <main>

    <div class="row">

      <div class="col s12 m12 l12">
        <router-view></router-view>
      </div>

    </div>

    <app-menu></app-menu>

  </main>

</template>








